.ellipsis-single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }

.spinner_style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 500px;
}

.products_section {
  width: 77%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products_title {
  padding: 10px;
  /* text-align: center; */
  /* font-family: "Sofia", serif; */
  font-size: 30px;
  /* border-bottom: 1px solid gray; */
  width: 85%;
  /* align-self: flex-start; */
  margin-bottom: 20px;
  /* box-shadow: 0 4px 6px -2px blue; */
}

/* .products_boxes { */
  /* border: 1px solid black; */
  /* box-shadow: 2px 4px 6px gray */
/* } */

.products_boxes:hover {
  box-shadow: 9px 10px 19px 0px #80808085;
}

.i_border {
  border: 0;
}

.rating-high {
  color: green;
}

.rating-medium {
  color: orange;
}

.rating-low {
  color: red;
}

